<!DOCTYPE html>
<html>

<head>
  <% include ../views/partials/html_head%>
  <title>
    <%= title %>
  </title>

</head>

<body>
  <% include ../views/partials/header%>

  <form id="add_new_esp" method="post" action="../api/esp/configure">
    <div class="mdl-card-wide mdl-shadow--2dp" style="background: whitesmoke;">
      <div class="mdl-card__title mdl-card--expand">
        <h2 class="mdl-card__title-text">Configure the pins of the ESP</h2>
      </div>
      <div class="mdl-card__supporting-text" style="width: 97%;">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
          <input class="mdl-textfield__input" type="text" value="<%= esp.name %>" pattern="-?^[a-zA-Z0-9_ ]*?" id="name"
            readonly>
          <label class="mdl-textfield__label" for="name">Name</label>

        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
          <input class="mdl-textfield__input" type="text" readonly value="<%= esp.mac%>" pattern="-?^[a-zA-Z0-9:]*?"
            name="mac" id="mac">
          <label class="mdl-textfield__label" for="mac">MAC address</label>
          <span class="mdl-textfield__error">Invalid MAC address!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
          <input class="mdl-textfield__input" type="text" value="<%= esp.model_type %>" pattern="-?^[a-zA-Z0-9_]*?"
            name="model_type" id="model_type" readonly>
          <label class="mdl-textfield__label" for="model_type">Model type</label>

        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
          <input class="mdl-textfield__input" type="text" id="status" <% if(esp.status==0){ %> value="UNCONFIGURED"
            <% }else{ %> value="CONFIGURED" <%} %> readonly>
          <label class="mdl-textfield__label" for="status">Status: </label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
          <input class="mdl-textfield__input" type="text" value="<%= esp.ip %>" pattern="-?^[0-9.]*?" readonly>
          <label class="mdl-textfield__label" for="ip">IP address</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--2-col">
          <input class="mdl-textfield__input" type="text" value="<%= esp.num_of_pins %>" pattern="-?^[0-9]*?"
            name="num_of_pins" id="num_of_pins" readonly>
          <label class="mdl-textfield__label" for="num_of_pins">Number of Pins:</label>
          <span class="mdl-textfield__error">Invalid Number!</span>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col-phone mdl-cell--8-col">
          <input class="mdl-textfield__input" type="text" value="<%= esp.pin_label %>" id="pin_labels" readonly>
          <label class="mdl-textfield__label" for="pin_labels">Pin Labels</label>
        </div>
        <div
          class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--12-col-desktop mdl-cell--8-col-tablet mdl-cell--4-col-phone">
          <textarea class="mdl-textfield__input" type="text" id="description" rows=3
            readonly><%= esp.description %></textarea>
          <label class="mdl-textfield__label" for="description">Description</label>

        </div>
        <br>

        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col">
          <input class="mdl-textfield__input" type="number" <% if(config){ %> value="<%= config.sampling_freq %>" <%}%> 
          pattern="-?^[0-9]*?" name="sampling_freq"  id="sampling_freq" data-required=true>
          <label class="mdl-textfield__label" for="sampling_freq">Sampling Frequency</label>
          <span class="mdl-textfield__error">Invalid Number!</span>
        </div>
        </br>
        <span style="top:4px; font-size:12px;color: var(--accent-green);">Configure pins below: </span>
        <div id="pins_layout" class="mdl-grid" style="justify-content: left;">
          <% if(config) { config.sensors.forEach(function(el, index) { config.sensors[index].spins.forEach(function(spin,idx){ %> 
            <div class='mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-desktop border-rc m2'>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
                <span style="top:4px; font-size:10px;color: var(--accent-green);"> Select a ESP pin: </span>
                <select class="mdl-textfield__input" name='epin' hint="select a sensor from the list" data-required=true>
                  <% for(let j = 0; j < esp.pins.length; j++){ %>
                    <option value="<%= esp.pins[j].pin_num %>" <% if(esp.pins[j].pin_num === spin.epin ){ %> selected <% }%> >
                      <%= esp.pins[j].pin_label %>
                    </option>
                  <%}%>
                </select>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
                <span style="top:4px; font-size:10px;color: var(--accent-green);"> Select a sensor: </span>
                <select class="mdl-textfield__input" name='sensor_type' hint:"select a sensor from the list" data-required=true>
                  <% for(let k = 0; k < sensors.length; k++){ %>
                    <option value="<%= sensors[k].model_type %>" <% if(sensors[k].model_type == el.type ){ %>
                      selected <% }%></option> <%= sensors[k].model_type %> </option>
                  <%}%>
                </select>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
                <span style="top:4px; font-size:10px; color: var(--accent-green);"> Select pin: </span>
                <select class="mdl-textfield__input" name='sensor_pin' data-selected='<%= spin.sensor_pin %>' hint='select a pin mode from the list'>
                  <option value="<%= spin.sensor_pin %>"><%= spin.sensor_pin %></option>
                </select>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
                <span style="top:4px; font-size:10px; color: var(--accent-green);"> Select pin mode: </span>
                <select class="mdl-textfield__input" name='pin_mode' hint='select a pin mode from the list'
                    data-required=true>
                  <option value="OUTPUT" <% if(spin.pin_mode=="OUTPUT"){ %> selected <% }%>>OUTPUT</option>
                  <option value="INPUT" <% if(spin.pin_mode=="INPUT"){ %> selected <% }%>>INPUT</option>
                  <option value="INPUT_PULLUP" <% if(spin.pin_mode=="INPUT_PULLUP"){ %> selected <% }%>>INPUT PULLUP</option>
                </select>
              </div>
              <br><br>
              <span class="p8" style="top:4px; font-size:12px;"> ANY ADDITIONAL INFO: </span><br>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop">
                <input class="mdl-textfield__input" type="text" value="<%= spin.misc_key %>"
                    pattern="-?^[a-zA-Z0-9_]*?" name="misc_key" id="misc_key">
                <label class="mdl-textfield__label" for="misc_key">Key:</label>
                <span class="mdl-textfield__error">Invalid value!</span>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop">
                <input class="mdl-textfield__input" type="text" value="<%= spin.misc_val %>"
                    pattern="-?^[a-zA-Z0-9_]*?" name="misc_val" id="misc_val">
                <label class="mdl-textfield__label" for="misc_val">Value:</label>
                <span class="mdl-textfield__error">Invalid value!</span>
              </div>
            </div>
          <% }); }); }else if(esp.num_of_pins>0) { esp.pins.forEach(function(el, index) { %>
        <div class='mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--6-col-desktop border-rc m2'>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
            <span style="top:4px; font-size:10px;color: var(--accent-green);"> Select a ESP pin: </span>
            <select class="mdl-textfield__input" name='epin' hint="select a sensor from the list"
              data-required=true>
              <% for(let idx = 0; idx<esp.pins.length;idx++){ %>
              <option value="<%= esp.pins[idx].pin_num %>">
                <%= esp.pins[idx].pin_label %>
              </option>
              <%}%>
            </select>
          </div>

              <!-- <div class='mdl-textfield mdl-js-textfield pin_labels mdl-cell--4-col-phone mdl-cell--6-col'>
                <span style="top:4px; font-size:10px;"> Pin Label: </span>
                <input class='mdl-textfield__input' type='text' pattern='-?^[a-zA-Z0-9_]*?' placeholder='e.g.: SIGNAL'
                  title="Use only characters, numbers or '_' !" name='pin_label' value="<%= esp.pins[index].pin_label %>"
              readonly>
              <input type='hidden' name='pin_num' value="<%= esp.pins[index].pin_num %>">
          </div> 
          <br>-->
          <div
            class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
            <span style="top:4px; font-size:10px;color: var(--accent-green);"> Select a sensor: </span>
            <select class="mdl-textfield__input" name='sensor_type' hint="select a sensor from the list" data-required=true>
              <% for(let idx = 0; idx<sensors.length;idx++){ %>
              <option value="<%= sensors[idx].model_type %>">
                <%= sensors[idx].model_type %>
              </option>
              <%}%>
                </select>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
                  <span style="top:4px; font-size:10px; color: var(--accent-green);"> Select pin: </span>
                  <select  class="mdl-textfield__input" name='sensor_pin' hint:'select a pin mode from the list'>
                    <option value="DEFAULT">DEFAULT</option>
                  </select>
              </div>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label p4 mdl-cell--4-col mdl-cell--6-col-desktop">
                <span style="top:4px; font-size:10px; color: var(--accent-green);"> Select pin mode: </span>
                <select class="mdl-textfield__input" name='pin_mode' hint:'select a pin mode from the list' data-required=true>
                  <option value="OUTPUT" selected>OUTPUT</option>
                  <option value="INPUT">INPUT</option>
                  <option value="INPUT_PULLUP">INPUT PULLUP</option>
                </select>
              </div>
              <br><br>
              <span class="p8" style="top:4px; font-size:12px;"> Any additional info: </span><br>
              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop">
                  <input class="mdl-textfield__input" type="text" pattern="-?^[a-zA-Z0-9_]*?" name="misc_key" id="misc_key">
                  <label class="mdl-textfield__label" for="misc_key">Key:</label>
                  <span class="mdl-textfield__error">Invalid value!</span>
                </div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell--4-col mdl-cell--6-col-desktop">
                    <input class="mdl-textfield__input" type="text" pattern="-?^[a-zA-Z0-9_]*?" name="misc_val" id="misc_val">
                    <label class="mdl-textfield__label" for="misc_val">Value:</label>
                    <span class="mdl-textfield__error">Invalid value!</span>
                  </div>
                
            </div>
          <% }); }%>

          </div>
          <input class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--1-col-phone m4"
            type="submit" value="SAVE">
          <input id="btnInitOTA" data-mac="<%= esp.mac%>"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--3-col-phone m4"
            type="button" style="background:var(--accent-blue); color:white;" value="Trigger OTA">
          <input id="btnDiscard"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-cell--2-col-phone"
            style="background:tomato; margin:10px 10px 10px 4px; color: white;" type="button" value="Discard changes">

        </div>
      </div>
      <div id="configuration_layout" class="mdl-grid">

      </div>
  </form>

  <script src="../javascripts/esp_configure.js"></script>
  <script src="../javascripts/data_required_script.js"></script>
  <% include ../views/partials/footer%>
</body>

</html>